In [1]:
import pandas as pd

In [4]:
steam_sales_path= "../data/steam_sales.csv"

In [5]:
df = pd.read_csv(steam_sales_path)
df.head()

,Game Name,Rating,#Reviews,Discount%,Price (€),Original Price (€),Release Date,Windows,Linux,MacOS,Fetched At
0,PEAK,7.0,"77,683",-38.0,4.64,7.49,"16 Jun, 2025",1,0,0,2025-08-11 00:00
1,Cyberpunk 2077,7.0,"772,574",-65.0,20.99,59.99,"9 Dec, 2020",1,0,1,2025-08-11 00:00
2,Rust,7.0,"1,038,433",-50.0,19.99,39.99,"8 Feb, 2018",1,0,1,2025-08-11 00:00
3,Microsoft Flight Simulator (2020) 40th Anniver...,5.0,"63,905",-60.0,27.99,69.99,"17 Aug, 2020",1,0,0,2025-08-11 00:00
4,Sid Meier's Civilization VII,4.0,"34,643",-30.0,48.99,69.99,"10 Feb, 2025",1,1,1,2025-08-11 00:00

In [6]:
df.describe()

,Rating,Discount%,Price (€),Original Price (€),Windows,Linux,MacOS
count,2543.000000,2543.000000,2543.000000,2543.000000,2543.000000,2543.000000,2543.000000
mean,6.433346,-51.055053,12.742993,27.949866,0.996068,0.185608,0.281950
std,1.279637,23.132706,8.990933,15.762686,0.062597,0.388866,0.450038
min,3.000000,-95.000000,0.530000,2.990000,0.000000,0.000000,0.000000
25%,5.000000,-74.500000,5.990000,15.990000,1.000000,0.000000,0.000000
50%,7.000000,-50.000000,9.990000,24.990000,1.000000,0.000000,0.000000
75%,7.000000,-30.000000,16.990000,39.990000,1.000000,0.000000,1.000000
max,8.000000,-10.000000,64.990000,99.990000,1.000000,1.000000,1.000000

In [7]:
df.dtypes

Game Name              object
Rating                float64
#Reviews               object
Discount%             float64
Price (€)             float64
Original Price (€)    float64
Release Date           object
Windows                 int64
Linux                   int64
MacOS                   int64
Fetched At             object
dtype: object

In [8]:
df['Release Date'] = pd.to_datetime(df['Release Date'], format="%d %b, %Y", errors='coerce')

In [9]:
df.head()

,Game Name,Rating,#Reviews,Discount%,Price (€),Original Price (€),Release Date,Windows,Linux,MacOS,Fetched At
0,PEAK,7.0,"77,683",-38.0,4.64,7.49,2025-06-16,1,0,0,2025-08-11 00:00
1,Cyberpunk 2077,7.0,"772,574",-65.0,20.99,59.99,2020-12-09,1,0,1,2025-08-11 00:00
2,Rust,7.0,"1,038,433",-50.0,19.99,39.99,2018-02-08,1,0,1,2025-08-11 00:00
3,Microsoft Flight Simulator (2020) 40th Anniver...,5.0,"63,905",-60.0,27.99,69.99,2020-08-17,1,0,0,2025-08-11 00:00
4,Sid Meier's Civilization VII,4.0,"34,643",-30.0,48.99,69.99,2025-02-10,1,1,1,2025-08-11 00:00

In [10]:
df.describe()

,Rating,Discount%,Price (€),Original Price (€),Release Date,Windows,Linux,MacOS
count,2543.000000,2543.000000,2543.000000,2543.000000,732,2543.000000,2543.000000,2543.000000
mean,6.433346,-51.055053,12.742993,27.949866,2021-09-30 02:55:04.918032896,0.996068,0.185608,0.281950
min,3.000000,-95.000000,0.530000,2.990000,2006-12-07 00:00:00,0.000000,0.000000,0.000000
25%,5.000000,-74.500000,5.990000,15.990000,2019-09-20 12:00:00,1.000000,0.000000,0.000000
50%,7.000000,-50.000000,9.990000,24.990000,2022-12-07 00:00:00,1.000000,0.000000,0.000000
75%,7.000000,-30.000000,16.990000,39.990000,2024-10-07 12:00:00,1.000000,0.000000,1.000000
max,8.000000,-10.000000,64.990000,99.990000,2025-09-14 00:00:00,1.000000,1.000000,1.000000
std,1.279637,23.132706,8.990933,15.762686,NaN,0.062597,0.388866,0.450038